---
interface Props {
  variant: 'success' | 'info' | 'warning';
  label: string;
  i18nKey?: string;
}

const { variant, label, i18nKey } = Astro.props;
---

<span class={`badge badge--${variant}`} data-i18n={i18nKey}>{label}</span>
